.intro{
    background-color: #E5D9F2;
    margin:0px;
}
.introtxt{
    margin:0 0 0 0;
    font-size: 3em;
}
.profilePic{
    border-radius: 50% ; height:10em;
}

.logo{
    height:1.5em;
    margin-bottom: 0;
    margin-top: 0;
}
#introTableSecRow{
    height: 1em;
}
hr{
    margin:1em auto;
    background-color:#E5D9F2 ;
    
    width: 3em;
    border-color: white;
    border-width: 5px;
    border-style:dotted none none none;
}

body{
    background-color: #E5D9F2;
    margin:0 0 0 0;
}
#skills ,#qualifications ,#socials{
    margin-top:1em;
    background-color: #E5D9F2;
}
h1{
    margin-top: 0px;
}
.skilltable{
    
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
}
.skilltd{
    border-left: 3px solid;
}
.stars{
    margin-left:20% ;
}
.heading{
    text-align: center;
    display: inline block;
    position: relative;
    font-family:monospace;
}
#QualificationTable{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid;
}
.qualInfo{
    text-align: center;
    border: 3px solid ;
}



